{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style type="text/css">
#header
{
    background: linear-gradient(135deg,#2fd3ae,#3dc0f1,#2fd3ae);
    color: #fff;
}

#header .page-header
{
    border-bottom: 0;
    text-align: center;
    margin: 10% 0 10%;
} 

#header .page-header p
{
    padding-top: 1rem;
    font-size: 1.5rem;
}
</style>
{% endblock %}

{% block content %}
  <div class="page-header">
      <h1>Welcome to echildcare</h1>
      <p>SMS application which care for children</p>
  </div>

{% endblock %}